<!doctype html>
<html ng-app="universeExplorationMain" ng-controller="universeExplorationControllerMain">
       <head>
			  <title>{{title}}</title>
              <meta http-equiv="content-type" content="text/html; charset=UTF-8">
			  <link href='https://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
              <link href="styles.css" rel="stylesheet" type="text/css">
			  <link href="website.css" rel="stylesheet" type="text/css">
              <script src="soundmanager2-setup.js"></script>  
  			  <script src="soundmanager2-jsmin.js"></script> 
			  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
       </head>
       
       <body style="background-color: #000000">          
			<table style="width: 70%;" border="0" style="">
				<tr>
					<td style="padding-right: 50px;" valign="top"><div class="banner" style="text-align: left;"><a href="http://www.universe-exploration.com"><img src="banner_small.png" alt="Universe Exploration" /></a></div><br /><p><a href="/">Home</a></p><p><a href="game.html">Play</a></p></td>
					<td>
						<h1>Good old clunky space strategy... or something else?</h1>
						<p>University Exploration is still a work in progress. I am experimenting with libGDX library and creating a space exploration game where you are suppose to seek for a potentially habitable planet. Fundamentally the game will be a simple strategy game where you seek out resources and make bold decisions on which planets to mine for resources and which to leave alone.</p>
						<p><a href="game.html">Play the game</a></p>
					</td>
				</tr>
			</table>
			
			<script src="universeExplorationMainController.js"></script>
       </body>
</html>